@import 'src/styles/shared.scss'; 

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  border: 2px solid black;
  padding: $SMALL_MARGIN;
  margin: $SMALL_MARGIN;
  cursor: pointer;
  background-color: $TRUE_WHITE;
  border-radius: $SOFT_RADIUS;

  &__image {
    border: 1px solid black;

    img {
      width: 75px;
    }
  }

  &__name {
    font-size: $MOBILE_TITLES;
    font-weight: bold;

    @media screen and (min-width: $LANDSCAPE) {
      font-size: $LANDSCAPE_TITLES;
    }
  }

  &__address {
    font-size: $LANDSCAPE_TITLES;

    @media screen and (min-width: $LANDSCAPE) {
      font-size: $LANDSCAPE_DESCRIPTION;
    }

  }
}
