@import 'src/styles/shared.scss';

.footer {
  display: flex;
  background-color: $DARK_BLUE;
  color: $ORANGE;
  justify-content: space-around;
  align-items: center;
  padding: $SMALL_MARGIN;

  // Mobile first
  flex-direction: column;

  @media screen and (min-width: $LANDSCAPE) {
    flex-direction: row;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    margin: 2px 0;

    img {
      margin-right: $SMALL_MARGIN;
      width: 15px;
    }

    a {
      color: $ORANGE;
      text-decoration: none;
    }
  }
}
