<footer class="footer">
  <div class="footer__copyright">
    Copyright Omar
  </div>
  <ul class="footer__list">
    <li class="footer__item">
      <a href="tel:+34611222333">
        611 222 333
      </a>
    </li>
    <li class="footer__item">
      <a href="mailto:xxxxx@live2play.com">
        xxxxx@live2play.com
      </a>
    </li>
    <li class="footer__item">
      <img src="assets/images/gmaps.svg" alt="Localización">
      <a href="https://goo.gl/maps/JMCnnJmG9AC3X4i59" target="_blank">
        Google Maps
      </a>
    </li>
    <li class="footer__item">
      <img src="assets/images/twitter.svg" alt="twitter">
      <a href="https://twitter.com/BoardGameGeek" target="_blank">
        Twitter
      </a>
    </li>
    <li class="footer__item">
      <img src="assets/images/instagram.svg" alt="instagram">
      <a href="https://www.instagram.com/boardgamegeek/" target="_blank">
        Instagram
      </a>
    </li>
  </ul>
</footer>