@import 'src/styles/shared.scss';

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $WHITE;
  margin: $NORMAL_MARGIN;

  // Mobile first
  font-size: $LANDSCAPE_DESCRIPTION;

  @media screen and (min-width: $LANDSCAPE) {
    font-size: $LANDSCAPE_DESCRIPTION;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.page-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $WHITE;
  margin: $SMALL_MARGIN;
}
